#home-fotter{position: fixed;bottom: 0;left: 0;width: 100%;height: .49rem;font-size: .13rem;display: table;text-align: center;
  background: white;border-top: 1px solid $border-color;}
#home-fotter>i{font-style: normal;color: #999999;display: table-cell;position: relative;line-height: 1.3}
.iconfont>span{font-size: .11rem;position: absolute;top: .3rem;left: 0;right:0;margin: auto}
.touches{color:$home-color!important}
