
.center-content{
  width: 100%;overflow: hidden;font-size: 0.14rem;background: #f2f2f2;
  .hot-page{
      width:100%;height: 1.3rem;background: #FFFFFF;font-size: 0.16rem;color: #999999;position: relative;text-align: center;
      .box{width: .68rem;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);
          img{width: .68rem}
      }
  }
  .hot-sport{margin-bottom: .15rem;
    .center-content-li-first{
      height: 0.44rem;line-height: 0.44rem;display: flex;border-bottom: 0.01rem solid $border-color;overflow: hidden;background: #ffffff;
      .center-content-left{box-sizing:border-box;width: 1.45rem;border-right: 0.01rem solid $border-color;
        .center-content-img{font-size:0.18rem;padding-left: 0.15rem;vertical-align: middle;color: $home-color;}
        .center-content-span{color: $home-color;vertical-align: middle}
      }
      .center-content-center{box-sizing:border-box;width: 2.3rem;
        .title-box{box-sizing:border-box;font-size: 0.12rem;color: #333333;display: flex;justify-content: space-around;  }
      }
    }
    .center-content-li-two{
      border-bottom: 0.01rem solid $border-color;
      .ball-detaill{width: 100%;height: 100%;font-size: 0.13rem;background: #ffffff;
        .item-info{height: 0.76rem;box-sizing: border-box;display: flex;
          //左
          .content-left{box-sizing: border-box;width: 1.45rem;border-right: 0.01rem solid $border-color;padding: 0.1rem 0.06rem 0.1rem 0.15rem;
            .content-left-first,.content-left-two{height:0.19rem;display: flex;justify-content: space-between;line-height: 0.19rem;
              .first-time-top{display:inline-block;font-size: 0.11rem;color: #999999;width: 0.33rem;text-align: right;margin-right: 0.03rem}
              .first-name-top{display:inline-block;font-size: 0.12rem;color: #333333;width: 1rem;overflow: hidden;height: 0.19rem;white-space: nowrap;text-overflow: ellipsis;}
              .first-score{font-size: 0.13rem;color: $home-color;display: flex;height: 0.19rem;;line-height: 0.19rem;
                .red-card,.yellow-card{width: 0.1rem;height: 0.13rem;line-height:0.13rem;background: #E43131;text-align: center;font-size: 0.11rem;color: #FFFFFF;float: left;border-radius: 0.027rem;margin-right: 0.05rem;}
                .yellow-card{background: #E3C032;margin-left: 0.02rem;border-radius: 0.027rem}
              }
              .score{display: flex;justify-content: space-between;align-items: center;height: 0.19rem;
                .card{margin-right: 0.05rem;margin-top: -0.03rem;display: flex;justify-content: space-between;align-items: center;
                  .red-card,.yellow-card{padding-top: 1px;width: 0.1rem;height: 0.12rem;line-height:0.12rem;background: #E43131;text-align: center;font-size: 0.12rem;color: #FFFFFF;border-radius: 0.027rem}
                  .yellow-card{background: #E3C032;margin-left: 0.02rem;border-radius: 0.027rem}
                }
                .first-score{font-size: 0.13rem;color: $home-color;}
              }
            }
            .content-left-three{height: 0.18rem;display: flex;justify-content: space-between;align-items: center;
              >div{font-size: 0.12rem;color: #999999}
              .icon-style{font-size: 0.16rem;color: #11A7DE;}
              .more_Num{padding-top:0.03rem;background: #A4A9B5;color: #ffffff;width: 0.25rem;height: 0.11rem;
                line-height: 0.11rem;text-align: center;font-size: 0.11rem;border-radius: 7px}
            }
          }
          //中
          .content-center{box-sizing:border-box;width: 2.3rem;overflow: hidden;
            .content-detail{box-sizing:border-box;padding: 0.1rem 0 ;height:100%;display: flex;justify-content: space-between;
              .all-alone-win{width: 0.7rem;
                .all-style{padding-right: 0.1rem;
                  span:nth-child(1){width: 0.2rem}
                  span:nth-child(2){width: 0.4rem;}
                }
              }
              .all-let-the-ball,.all-size{width: 0.8rem;
                .all-style{padding-right: 0.1rem;
                  span:nth-child(1){width: 0.35rem}
                  span:nth-child(2){width: 0.35rem;}
                }
              }
              .all-alone-win,.all-let-the-ball,.all-size{
                .all-style{box-sizing:border-box;height: 0.19rem;display: flex;justify-content: space-between;line-height: 0.19rem;position: relative;
                  .showitems{visibility: visible}
                  .hideitems{visibility: hidden}
                  span:nth-child(1){font-size: 0.11rem;color: #999999;letter-spacing:-1px;text-align: right;}
                  span:nth-child(2){font-size: 0.13rem;text-align: center;font-weight: bold;color:rgba(90,90,90,0.9)}
                  .rate_color_green {
                    color: #09D577 !important;
                  }
                  .rate_color_red {
                    color: #D50926 !important;
                  }
                }
              }
            }
          }
        }
      }

    }
    .center-content-li-three{
      height: 0.44rem;line-height:0.44rem;position: relative;text-align: center;background: #ffffff;
      .center-content-li-three-img{font-size: 0.18rem;position: absolute;right: 0.115rem;color: #999999;}
    }
  }
  .hot-sport:last-child{margin-bottom: 0}
}
.maintain-box{height: 1.3rem;background: #FFFFFF;position: relative;
  .play-maintain{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 2.29rem;height: 0.53rem;display: flex;justify-content: space-between;
    div:nth-child(1)>img{width: 0.53rem;height: 0.53rem}
    div:nth-child(2){width: 1.53rem;display: flex;flex-direction: column;justify-content: space-between;
      p:nth-child(1){font-size: 0.16rem;color: #999999}
      p:nth-child(2){font-size: 0.12rem;color: #C6C6C6;}
    }
  }
}
.arrow_up_green {
  color: #09D577;
  font-size: .13rem;
  position: absolute;
  right: -0.01rem;
  text-align: center;
}
.arrow_down_red {
  transform: rotate(180deg);
  color: #D50926;
  font-size: .13rem;
  display: inline-block;
  position: absolute;
  right: 0;
  text-align: center;
}
